/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
    background-color: hsl(0, 0%, 100%);
    font-family: "Outfit", sans-serif;
    color: hsl(24, 5%, 18%);
}

img{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 5px;
    border-radius: 45px;
}

h1{
    font-family: "Young Serif", serif;
    color: hsl(24, 5%, 18%);
    padding-left: 30px;
}

span{
    padding-left: 30px;
    color: hsl(30, 10%, 34%);
}

.heading1{
    color: hsl(332, 51%, 32%);
    padding-left: 40px;
    font-weight: 400;
}

ul li{
    padding-left: 45px;
    
}

h3{
    color: hsl(332, 51%, 32%);
    padding-left: 30px;
}

ol li p.subtopics{
    color: hsl(30, 10%, 34%);
    display: inline-block;
}

table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #d1acac;
}

td, th {
    border: 1px solid #d1acac;
    text-align: left;
    padding: 8px;
}

hr{
    margin-top: 45px;
}

.attribution{
    text-align: center;
}